@import url(reset.css);

.columns {
	width: 80vw;
	margin: auto;
	min-height: 500px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background-color: lightgrey;
}
.column {
	width: calc((100% - 40px)/3);
	background-color: lightblue;
}
/* вертикальные (!) размеры padding/margin в % вычисляется относительно ширины содержимого родителя */
.image {
	background-image: url(../img/logo.png);
	background-size: cover;
	background-position: center;
	padding-bottom: 100%;
}

