@import url(reset.css);

.page {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
	font-family: sans-serif;
}
.header, .copyright {
	height: 10vh;
	background-color: lightblue;
	padding-left: 50px;
	display: flex;
	align-items: center;
}
.header__title {
	color: white;
	text-transform: uppercase;
}
.content-container {
	width: 80vw;
	height: 80vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5% 0;
	box-sizing: border-box;
}
.column {
	/*width: calc((100% - 30px)/2);*/
	height: calc((100% - 30px)/2);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.section {
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding: 25px 15px;
	box-sizing: border-box;
	height: calc((100% - 30px)/2);
	overflow: auto;
}
.section__title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.section__text {
}
.copyright-text {
	color: white;
	text-transform: uppercase;
}

@media screen and (min-width: 376px) {
	.column {
		flex-direction: row;
		height: calc((100% - 30px)/2);
		/*width: calc((100% - 30px)/2);*/
		box-sizing: border-box;
	}
	.section {
		height: 100%;
		width: calc((100% - 30px)/2);
	}
}