@import url(reset.css);

.header {
	height: 70px;
	background-color: #4180C9;
	width: 100%;
	position: fixed;
	top: 0px;
	color: white;
}
.header h1 {
	text-transform: uppercase;
	font-family: sans-serif;
	line-height: 70px;
	margin-left: 20px;
}
.content-container {
	margin-top: 70px;
	text-align: center;
}
.column {
	margin: 25px 15px;
	border: 2px solid gray;
	border-radius: 20px;
	display: inline-block;
	width: 25%;
	padding: 40px 15px;
}
.column__header {
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 15px;
}
.footer {
	height: 70px;
	background-color: #4180C9;
	/*position: fixed;*/
	background-attachment: fixed;
}
.footer__copyright {
	font-family: sans-serif;
	text-transform: uppercase;
	line-height: 70px;
	color: white;
	margin-left: 20px;
}