/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
@import 'normalize.css';
 * {
 	box-sizing: border-box;
 }
 body {
 	font-family: 'Montserrat', sans-serif;
	font-family: 'Lato', sans-serif;
}
.outer {

}
.inner {
	width: 1180px;
	margin: 0 auto;
	height: 100vh;
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column;
}
.header::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(20, 39, 41, .6);
	z-index: 5;
}
.header {
	color: #FFFFFF;
	background: url("../img/bg-header.png") no-repeat 50% 50%;
	background-size: cover; 
	position: relative;
}
.header-logo {
	font-weight: bold;
	font-size: 24px;
	flex-shrink: 1;
	padding-top: 35px;
}
.header-content {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-wrapper {
	margin: 0 auto;
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
}
.header-wrapper__title {
	text-align: center;
	font-weight: bold;
	font-size: 56px;
	line-height: 60px;	
	margin-bottom: 16px;
}
.header-wrapper__subtitle {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 32px;
	width: 80%;	
	margin: 0 auto 44px;
}
.header-wrapper__form {
	display: flex;
}
.header-wrapper__form-input {
	flex: 1;
	padding-right: 40px;
}
.header-wrapper__form-input input {
	border: none;
	background: rgba(255, 255, 255, .25);
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 16px 20px;
	outline: none;
	border-radius: 4px;
	width: 100%;
}
.header-wrapper__form-input input::placeholder {
	color: #FFFFFF;
}
.header-wrapper__form-button button {
	font-family: 'Montserrat', sans-serif;
	border: none;
	font-size: 16px;
	margin: 0;
	padding: 16px 20px;
	background: linear-gradient(to right, #FE985B, #FE4FA7);
	outline: none;
	border-radius: 4px;
	color: #FFFFFF;
}